

@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/LeagueGothic-Regular.eot');
  src: url('../fonts/LeagueGothic-Regular.svg') format('svg'),
	   url('../fonts/LeagueGothic-Regular.woff') format('woff'),
	   url('../fonts/LeagueGothic-Regular.ttf') format('truetype');
}

.row{
	display: block;
	margin: 0 auto;
}

header {
	background: #947092 url(../img/bg.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.logo{
	float: left;

}

.logo__img{
	float: right;
}

.menu {
	float: right;
}

.menu__item {
	float: left;
	margin-left:40px;
}

.menu__item:first-child{
	margin-left: 0px;
}

.menu__link {
	padding: 0 5px;
	text-decoration: none;
	color: #fff;
	font-family: 'LeagueGothic';
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.menu__item .active {
	border-bottom: 2px solid #edbfff;
}

.topNews{
	background-color: rgba(0,0,0,.2);
	height: 400px;
	clear: both;
}

.slider{
	margin: 0 auto;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	font-family: 'LeagueGothic';
	position: relative;
}

.slider__inner{
	float: left;
}

.slider__header{
	color: #fefefe;
	letter-spacing: -0.35px;
}

.slider__description{
	color: #edbfff;
	overflow: hidden;
}

.slider__text{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 6px 0 0 0;
	overflow: hidden;
}

.iphone{
	position: relative;
    float: right;
}

.iphone__link{
	position: absolute;
	top: 150px;
	left: 135px;
}

.blurbs{
	background: linear-gradient(0deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%);
	height: 340px;
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #33253a;
	position: relative;
	overflow: hidden;
}

.about{
	display: inline-block;
}
.about__image{
	background-image: url(../img/blurbs.png);
	float: left;
	width: 27px;
	height: 25px;
	text-align: left;
}

.about__inner{
	float: right;
	text-align: left;
}

.about__header{
	font-family: 'LeagueGothic';
	color: #fff;
	text-shadow: 1px 1px 1px #0f1518;
	text-transform: uppercase;
}

.about__text{
    overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px #0f1518;

}

.about__readmore{
	border: none;
	background: transparent;
	font-family: 'LeagueGothic';
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 1px #0f1518;
	text-transform: uppercase;
	float: right;
}

.about__readmore:hover{
	cursor: pointer;
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.8);
}

.content{
	background: #f9f9f9 url(../img/shadow.png) no-repeat center 0/auto auto;	
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.testimonials{
	display: block;
	float: left;
	margin-left: 24px;
}

.testimonial{
	background: transparent url(../img/testimonial-bg.png) 0 0 no-repeat;
	position: relative;
	text-align: left;
}

.testimonial__image{
position: absolute;
top: 20px;
left: -25px;
}

.testimonial__header{
padding: 32px 0px 20px 40px;
text-transform: uppercase;
font-family: 'LeagueGothic';
color: #454545;
}

.testimonial__color{
color: #edbfff;
}

.testimonial__text{
	padding: 0px 42px 10px 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #454545;
	line-height: 24px;
	overflow: hidden;
	height: 160px;
}

.blogs{
	display: block;
	text-align: left;
	float: right;
	margin-top: 30px;
}

.blogs__header{
	font-family: 'LeagueGothic';
	text-transform: uppercase;
	font-size: 30px;
	color: #454545;
	margin: 0 0 18px 0;
	height: 30px;
}

.blogs__item{
	text-decoration: none;
	min-height: 50px;
	display: block;
	margin: 0 0 15px 3px;
}

.blogs__image{
	background-image: url(../img/blogs.jpg);
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 13px;
	border-radius:	25px; 
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.blogs__1{
	background-position: -50px 0px;
}

.blogs__2{
	background-position: -50px -50px;
}

.blogs__3{
	background-position: 0px -50px;
}

.blogs__item__header{
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #454545;
	line-height: 25px;
	height: 25px;
	overflow: hidden;
}

.blogs__item__text{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #454545;
	line-height: 25px;
	height: 25px;
	overflow: hidden;
}

.blogs__link,.blogs__link__768{
	float: right;
	text-transform: uppercase;
	color: #454545;
	font-family: 'LeagueGothic';
	text-decoration: none;
	font-size: 18px;
	margin: 7px 21px 0 0;
}

.logos{
border-top: 1px solid #fefefe;
border-bottom: 1px solid #fefefe;
background-color: #f9f9f9;
overflow: hidden;
}

.logos__block{
	background-image: url(../img/logos.png);
	height: 65px;
	display: inline-block;
    margin: 25px 31px 25px 33px;
}

.logo__1{
	width: 70px;
	background-position: 0 0;
}

.logo__2{
	width: 73px;
	background-position: -133px 0;
}

.logo__3{
	width: 65px;
	background-position: -270px 0;
}

.logo__4{
	width: 50px;
	background-position: -410px 0;
}

.logo__5{
	width: 102px;
	background-position: -528px 0;
}

.logo__6{
	width: 78px;
	background-position: -697px 0;
}

.footer,.categories{
	border-top: 1px solid #d8d8d8;
	background-color: #ececec;
	text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
}

.footer__block{
	display: inline-block;
	overflow: hidden;
	margin: 96px 0 90px 0;
	text-align: left;
}

.bottom__logo{
	text-transform: uppercase;
	font-family: 'LeagueGothic';
	font-size: 48px;
	color: #454545;
	padding-bottom: 5px;
}

.bottom__logo span{
	color: #b9b9b9;
}

.copyright__text{
	font-family: Georgia, Arial, sans-serif;
	font-style: italic;
	color: #c5c5c5;
	font-size: 16px;
	line-height: 30px;
}

.footer__header{
	text-transform: uppercase;
	color: #454545;
	font-family: 'LeagueGothic';
	font-size: 30px;
	padding-bottom: 10px;
}

.footer__text{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #787878;
	line-height: 24px;	
}

.footer-bottom{
	display: block;
	width: 100%;
	padding: 50px 0 65px 0;
	background: url(../img/shadow.png) no-repeat center 0/auto auto,
			#947092 url(../img/footer-bg.jpg) no-repeat 0 0/100% 100% ;
	overflow: hidden;
}

.categories{
	overflow: hidden;
}

.bottom-menu{
	float: left;
}

.bottom-menu a{
	font-size: 20px
}

.design{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	float: right;
	margin-top: 5px;
	
}

.design__bold{
	font-weight: 800;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

    @media only screen and (min-device-width: 769px)  {
header{
  height: 846px;
}

.row{
  width: 960px;
}

.logo{
  margin: 50px 0 0 0;
}

.menu {
  margin: 75px 5px 180px 0;
}

.menu__link {
  font-size: 24px;
}

.slider__inner{
  width: 525px;
  margin-top: 77px;
}

.slider__header{
  font-size: 60px;
}

.slider__description{
  font-size: 32px;
  height: 32px;
}

.slider__text{
  font-size: 18px;
  line-height: 24px;
  height: 140px;
}

.iphone{
  top: -18px;
    right: 70px;
}

.about{
  width: 290px;
  margin: 75px 0 0 0;
}

.about:nth-child(2){
  margin: 75px 15px 0 50px;
}

.about__image{
  margin: 10px 22px 0 0;
}

.about__text{
  padding: 6px 0 0 0;
    line-height: 24px;
    height: 125px;
  font-size: 16px;
}

.about__readmore{
  margin: 15px 14px 0 0;
}

.blurbs__1{
  
  background-position: 0 0;
}

.blurbs__2{
  background-position: 56px 0;
}

.blurbs__3{
  background-position: 28px 0;
}

.about__inner{
  width: 240px;
}

.about__header{
  font-size: 30px;
}

.content{
  padding: 97px 0 90px 0;
}

.testimonials{
  width: 427px;
  height:292px;
}

.testimonial__header{
  padding: 32px 0px 11px 40px;
  font-size: 30px;
}

.blogs{
  width: 450px;
}

.blogs__link__768{
  display: none;
}

.categories{
  display: none;
}

.footer__block{
  width: 280px;
  height: 206px;
}

.footer__block:nth-child(2){
    margin: 96px 60px 90px 44px;
}

.footer__header{
  font-size: 30px;
}

.bottom-menu{
  margin: 0;
  font-size: 20px;
}

    }


        @media only screen and (min-device-width: 481px) and (max-device-width: 768px){
header{
  height: 798px;
}

.row{
  width: 768px;
}

.logo{
  margin: 52px 0 0 0;
}

.menu {
  margin: 33px 0 77px -5px;
  float: left;
}

.menu__link {
  font-size: 24px;
}

.slider__inner{
  width: 280px;
  margin: 98px 0 0 24px;
}

.slider__header{
  font-size: 48px;
  margin-bottom: 7px;
}

.slider__description{
  font-size: 24px;
  height: 24px;
}

.slider__text{
  font-size: 16px;
  line-height: 30px;
  height: 92px;
}

.iphone{
    top: -23px;
    right: 67px;
}

.about{
  width: 215px;
  margin: 75px 0 0 0;
}

.about:first-child{
    margin: 77px 0 0 7px;
}

.about:nth-child(2){
    margin: 77px 42px 0 35px;
}

.about__image{
  margin: 5px 22px 0 5px;
}

.about__header{
  font-size: 24px;
}

.about__text{
  padding: 3px 0 0 0;
  height: 140px;
  line-height: 24px;
  font-size: 16px;
}

.about__readmore{
    margin: 9px 9px 0 0;
}

.about__inner{
  width: 160px;
}

.blurbs__1,
.blurbs__2,
.blurbs__3{
  
  background-position: 0 0;
}

.content{
  padding: 100px 0 88px 0;
}

.testimonials{
  width: 315px;
  height:292px;
}

.testimonial{
  height: 272px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.testimonial__header{
    padding: 30px 0px 8px 38px;
  font-size: 24px;
  width: 100px;
}

.testimonial__text{
height: 140px;
}

.blogs{
  width: 330px;
  margin-right: 43px;
}

.blogs__link{
  display: none;
}


.logo__1 {
  margin: 26px 16px 26px 2px;
}

.logo__2{
  margin: 26px 17px 26px 33px;
}

.logo__3{
  margin: 26px 28px 26px 33px;
}

.logo__4{
  margin: 26px 21px 26px 33px;
}

.logo__5{
  margin: 26px 50px 26px 23px;
}

.logo__6{
  margin: 26px 0;
}

.footer{
  display: none;
}

.footer__block{
  width: 204px;
  height: 200px;
  margin: 100px 0 94px 0;
}

.footer__block:nth-child(2){
    margin: 100px 55px 94px 57px;
}

.footer__header{
  font-size: 24px;
}

.footer-bottom{
  padding: 46px 0 155px 0;
}

.bottom-menu{
  margin: 0;
  font-size: 20px;
}

.design{
  padding: 31px 41px 0px 20px;
}

    }


            @media only screen and (min-device-width: 321px) and (max-device-width: 480px) {
header{
  height: 550px;
  position: relative;
}

.row{
  width: 480px;
}

.logo{
  margin: 70px 0 102px 0;
  float: none;
}

.logo__img{
  float: none;
  display: block;
  margin: 0 auto;
}

.menu {
  float: none;
  width: 244px;
  position: absolute;
  left: 50%;
  margin-left: -126px;
  top: 133px;
  background-color: rgba(54,41,62,.9);
  border: 1px solid #051116;
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
}

.menu__item {
  float: none;
  text-align: center;
  line-height: 47px;
  border-bottom: 1px solid rgba(53,39,61,.9);
  padding: 0;
  margin: 0;
}

.menu__item:hover{
  border-bottom: 1px solid #bc51e6;
  background-color: rgba(0,0,0,.3);
}

.menu__item:first-child{
  margin: 0 auto;
}

.menu__link {
  font-size: 24px;
}


.topNews{
  height: 248px;
}


.slider__inner{
  width: 210px;
  margin: 98px 0 0 24px;
}

.slider__header{
  font-size: 36px;
  margin-bottom: 7px;
}

.slider__description{
  font-size: 18px;
  height: 18px;

}

.slider__text{
display: none;
}

.iphone{
    top: -23px;
    right: 67px;
}

.iphone img{
  width: 192px;
  height: 304px;
}

.iphone__link{
  top: 105px;
  left: 95px;
}

.iphone__link img{
  width: 50px;
  height: 50px;
}

.blurbs{
  height: 600px;
}

.about{
  width: 435px;
  margin: 75px 0 0 0;
}

.about__inner{
  width: 375px;
}

.about:first-child{
    margin: 77px 0 0 7px;
}

.about:nth-child(2){
    margin: 20px 0 20px 0;
}

.about__image{
  margin: 5px 22px 0 5px;
}

.about__header{
  font-size: 24px;
}

.about__text{
  padding: 3px 0 0 0;
  height: 72px;
  line-height: 24px;
  font-size: 16px;
}

.about__readmore{
    margin: 9px 9px 0 0;
}

.blurbs__1,
.blurbs__2,
.blurbs__3{
  
  background-position: 0 0;
}

.content{
  padding: 100px 0 88px 0;
}

.testimonials{
  width: 420px;
  height:277px;
}

.testimonial{
  height: 272px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.testimonial__header{
    padding: 30px 0px 8px 38px;
  font-size: 24px;
  width: 100%;
}

.testimonial__text{
height: 160px;
}

.blogs{
  width: 340px;
  float: none;
  margin: 0 auto;
  padding: 20px 0;
  clear: both;
}

.blogs__link{
  display: none;
}

.logos{
  text-align: center;
}

.logos .row{
  width: 420px;
}

.logo__1 {
  margin: 26px 16px 26px 2px;
}

.logo__2{
  margin: 26px 17px 26px 33px;
}

.logo__3{
  margin: 26px 28px 26px 33px;
}

.logo__4{
  margin: 26px 21px 26px 33px;
}

.logo__5{
  margin: 26px 50px 26px 23px;
}

.logo__6{
  margin: 26px 0;
}

.footer{
  display: none;
}

.categories{
  text-align: center;
}

.footer__block{
  width: 455px;
  height: 128px;
  margin: 80px 0 65px 0;
}

.footer__block:nth-child(2){
    margin: 0 0 63px 0;
}

.footer__block:nth-child(3){
    margin: 0 0 63px 0;
}

.footer__header{
  font-size: 24px;
}

.footer-bottom{
  padding: 46px 0 0 0;
  height: 200px;
}


.bottom-menu{
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  background: none;
  float: none;
  text-align: center;
  width: 440px;
  left: 0;
  top: 0;
  border: none;
  border-radius: 0px;

}

.bottom-menu .menu__item{
  float: left;
  border-bottom: none;
  font-size: 20px;
  margin-left: 8px;
}

.design{
  padding: 40px 41px 0px 20px;
  float: none;
  text-align: center;

}

    }

        @media only screen and (max-device-width: 320px) {
header{
  height: 515px;
  position: relative;
}

.row{
  width: 320px;
}

.logo{
  margin: 70px 0 40px 0;
  float: none;
}

.logo__img{
  float: none;
  display: block;
  margin: 0 auto;
}

.menu {
  float: none;
  width: 100px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}

.menu__item {
  float: none;
  text-align: center;
  line-height: 47px;
  border-bottom: 1px solid rgba(53,39,61,.9);
  padding: 0;
  margin: 0;
}

.menu__item:hover{
  border-bottom: 1px solid #bc51e6;
  background-color: rgba(0,0,0,.3);
}

.menu__item:first-child{
  margin: 0 auto;
}

.menu__link {
  font-size: 24px;
}


.topNews{
  height: 248px;
  background: none;
  text-align: center;
}


.slider__inner{
  width: 210px;
  margin: 98px 0 0 24px;
}

.slider__header{
  font-size: 36px;
  margin-bottom: 7px;
}

.slider__description{
  font-size: 18px;
  height: 18px;

}

.slider__text{
display: none;
}

.iphone{
  display: none;
}

.iphone img{
  width: 192px;
  height: 304px;
}

.iphone__link{
  top: 105px;
  left: 95px;
}

.iphone__link img{
  width: 50px;
  height: 50px;
}

.blurbs{
  height: 600px;
}

.about{
  width: 270px;
}

.about__inner{
  width: 210px;
}

.about:first-child{
    margin: 70px 0 0 0;
}

.about:nth-child(2){
    margin: 28px 0 28px 0;
}

.about__image{
  margin: 5px 22px 0 5px;
}

.about__header{
  font-size: 24px;
}

.about__text{
  padding: 3px 0 0 0;
  height: 72px;
  line-height: 24px;
  font-size: 16px;
}

.about__readmore{
    margin: 9px 9px 0 0;
}

.blurbs__1,
.blurbs__2,
.blurbs__3{
  
  background-position: 0 0;
}

.content{
  padding: 100px 0 88px 0;
}

.testimonials{
  width: 256px;
  height:273px;
}

.testimonial{
  height: 272px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.testimonial__header{
    padding: 30px 0px 8px 38px;
  font-size: 24px;
  width: 100px;
}

.testimonial__text{
height: 160px;
}

.blogs{
  width: 285px;
  float: none;
  margin: 0;
  padding: 20px 0;
  clear: both;
}

.blogs__link{
  display: none;
}

.logos{
  text-align: center;
}

.logos .row{
  width: 260px;
}

.logo__1 {
  margin: 26px 16px 26px 2px;
}

.logo__2{
  margin: 26px 17px 26px 33px;
}

.logo__3{
  margin: 26px 28px 26px 33px;
}

.logo__4{
  margin: 26px 21px 26px 33px;
}

.logo__5{
  margin: 26px 50px 26px 23px;
}

.logo__6{
  margin: 26px 0;
}

.footer{
  display: none;
}

.categories{
  display: none;
}

.footer-bottom{
  padding: 41px 0 0 0;
  height: 200px;
}


.bottom-menu{
  display: none;
}

.design{
  padding: 40px 41px 0px 20px;
  float: none;
  text-align: center;

}

    }
