header{
	height: 550px;
	position: relative;
}

.row{
	width: 480px;
}

.logo{
	margin: 70px 0 102px 0;
	float: none;
}

.logo__img{
	float: none;
	display: block;
	margin: 0 auto;
}

.menu {
	float: none;
	width: 244px;
	position: absolute;
	left: 50%;
	margin-left: -126px;
	top: 133px;
	background-color: rgba(54,41,62,.9);
	border: 1px solid #051116;
	border-radius: 10px;
	z-index: 1000;
	overflow: hidden;
}

.menu__item {
	float: none;
	text-align: center;
	line-height: 47px;
	border-bottom: 1px solid rgba(53,39,61,.9);
	padding: 0;
	margin: 0;
}

.menu__item:hover{
	border-bottom: 1px solid #bc51e6;
	background-color: rgba(0,0,0,.3);
}

.menu__item:first-child{
	margin: 0 auto;
}

.menu__link {
	font-size: 24px;
}


.topNews{
	height: 248px;
}


.slider__inner{
	width: 210px;
	margin: 98px 0 0 24px;
}

.slider__header{
	font-size: 36px;
	margin-bottom: 7px;
}

.slider__description{
	font-size: 18px;
	height: 18px;

}

.slider__text{
display: none;
}

.iphone{
    top: -23px;
    right: 67px;
}

.iphone img{
	width: 192px;
	height: 304px;
}

.iphone__link{
	top: 105px;
	left: 95px;
}

.iphone__link img{
	width: 50px;
	height: 50px;
}

.blurbs{
	height: 600px;
}

.about{
	width: 435px;
	margin: 75px 0 0 0;
}

.about__inner{
	width: 375px;
}

.about:first-child{
    margin: 77px 0 0 7px;
}

.about:nth-child(2){
    margin: 20px 0 20px 0;
}

.about__image{
	margin: 5px 22px 0 5px;
}

.about__header{
	font-size: 24px;
}

.about__text{
	padding: 3px 0 0 0;
	height: 72px;
	line-height: 24px;
	font-size: 16px;
}

.about__readmore{
    margin: 9px 9px 0 0;
}

.blurbs__1,
.blurbs__2,
.blurbs__3{
	
	background-position: 0 0;
}

.content{
	padding: 100px 0 88px 0;
}

.testimonials{
	width: 420px;
	height:277px;
}

.testimonial{
	height: 272px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.testimonial__header{
    padding: 30px 0px 8px 38px;
	font-size: 24px;
	width: 100%;
}

.testimonial__text{
height: 160px;
}

.blogs{
	width: 340px;
	float: none;
	margin: 0 auto;
	padding: 20px 0;
	clear: both;
}

.blogs__link{
	display: none;
}

.logos{
	text-align: center;
}

.logos .row{
	width: 420px;
}

.logo__1 {
	margin: 26px 16px 26px 2px;
}

.logo__2{
	margin: 26px 17px 26px 33px;
}

.logo__3{
	margin: 26px 28px 26px 33px;
}

.logo__4{
	margin: 26px 21px 26px 33px;
}

.logo__5{
	margin: 26px 50px 26px 23px;
}

.logo__6{
	margin: 26px 0;
}

.footer{
	display: none;
}

.categories{
	text-align: center;
}

.footer__block{
	width: 455px;
	height: 128px;
	margin: 80px 0 65px 0;
}

.footer__block:nth-child(2){
    margin: 0 0 63px 0;
}

.footer__block:nth-child(3){
    margin: 0 0 63px 0;
}

.footer__header{
	font-size: 24px;
}

.footer-bottom{
	padding: 46px 0 0 0;
	height: 200px;
}


.bottom-menu{
	margin: 0 auto;
	font-size: 20px;
	position: relative;
	background: none;
	float: none;
	text-align: center;
	width: 440px;
	left: 0;
	top: 0;
	border: none;
	border-radius: 0px;

}

.bottom-menu .menu__item{
	float: left;
	border-bottom: none;
	font-size: 20px;
	margin-left: 8px;
}

.design{
	padding: 40px 41px 0px 20px;
	float: none;
	text-align: center;

}
