header{
	height: 798px;
}

.row{
	width: 768px;
}

.logo{
	margin: 52px 0 0 0;
}

.menu {
	margin: 33px 0 77px -5px;
	float: left;
}

.menu__link {
	font-size: 24px;
}

.slider__inner{
	width: 280px;
	margin: 98px 0 0 24px;
}

.slider__header{
	font-size: 48px;
	margin-bottom: 7px;
}

.slider__description{
	font-size: 24px;
	height: 24px;
}

.slider__text{
	font-size: 16px;
	line-height: 30px;
	height: 92px;
}

.iphone{
    top: -23px;
    right: 67px;
}

.about{
	width: 215px;
	margin: 75px 0 0 0;
}

.about:first-child{
    margin: 77px 0 0 7px;
}

.about:nth-child(2){
    margin: 77px 42px 0 35px;
}

.about__image{
	margin: 5px 22px 0 5px;
}

.about__header{
	font-size: 24px;
}

.about__text{
	padding: 3px 0 0 0;
	height: 140px;
	line-height: 24px;
	font-size: 16px;
}

.about__readmore{
    margin: 9px 9px 0 0;
}

.about__inner{
	width: 160px;
}

.blurbs__1,
.blurbs__2,
.blurbs__3{
	
	background-position: 0 0;
}

.content{
	padding: 100px 0 88px 0;
}

.testimonials{
	width: 315px;
	height:292px;
}

.testimonial{
	height: 272px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.testimonial__header{
    padding: 30px 0px 8px 38px;
	font-size: 24px;
	width: 100px;
}

.testimonial__text{
height: 140px;
}

.blogs{
	width: 330px;
	margin-right: 43px;
}

.blogs__link{
	display: none;
}


.logo__1 {
	margin: 26px 16px 26px 2px;
}

.logo__2{
	margin: 26px 17px 26px 33px;
}

.logo__3{
	margin: 26px 28px 26px 33px;
}

.logo__4{
	margin: 26px 21px 26px 33px;
}

.logo__5{
	margin: 26px 50px 26px 23px;
}

.logo__6{
	margin: 26px 0;
}

.footer{
	display: none;
}

.footer__block{
	width: 204px;
	height: 200px;
	margin: 100px 0 94px 0;
}

.footer__block:nth-child(2){
    margin: 100px 55px 94px 57px;
}

.footer__header{
	font-size: 24px;
}

.footer-bottom{
	padding: 46px 0 155px 0;
}

.bottom-menu{
	margin: 0;
	font-size: 20px;
}

.design{
	padding: 31px 41px 0px 20px;
}
