@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,500';
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed';

body {
	font-family: 'Ubuntu', sans-serif;
}

ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

.clearfix:afrer {
	content: '';
	clear: both;
	display: block;
}

.logo {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	width: 280px;
	float: left;
	margin-top: 38px;
	img {
		float: left;
		margin-right: 5px;
	}
	h1 {
		float: left;
		margin: -7px 0 0 0;
		padding: 0;
		font-size: 30px;
		display: block;
	}
	h3 {
		float: left;
		margin: -12px 0 0 0;
		padding: 0;
		font-size: 12px;
		display: block;
		text-transform: uppercase;
		letter-spacing: 4.5px;
	}
}

.social_wrapper {
	margin-top: 50px;
	float: right;

	li {
		float: left;
	}
	a {
		font-size: 16px;
		padding-right: 20px;
	}
}

.top_menu {
	margin: 36px 0;
	.top_menu_wrapper {
		position: relative;
		overflow: hidden;
		nav {
			margin-left: -15px;
		}
		ul,li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
			border-right: 1px solid #181a1d;
			height: 56px;
		}
		a {
			text-transform: uppercase;
			padding: 0 35px;
			display: inline-block;
			line-height: 56px;
		}
	}
}

.top_search {
	margin: 10px 0;
	input {
		display: inline-block;
		width: 225px;
		line-height: 34px;
		border: none;
		padding: 0 15px;
		font-size: 12px;
	}
	button {
		border: none;
		line-height: 26px;
	}
}

.s_slider{
	img {
		height: 473px;
		width: 100%;
	}
	h2 {
		position: absolute;
		bottom: 36px;
		display: inline-block;
		width: 100px;
		padding: 20px;
		line-height: 40px;
		left: 36px;
	}
	a {
		text-transform: uppercase;
		font-size: 54px;
	}
}

.s_features {
	margin-bottom: 87px;
	.features_count{
		width: 35%;
		float: left;
		font-size: 90px;
		top: -30px;
		position: relative;
	}
	.features_text {
		width: 65%;
		display: inline-block;
		h2 {
			font-size: 20px;
		}
		p {
			font-size: 13px;
			font-family: Arial, sans-serif;
			height: 55px;
			overflow: hidden;
		}
		a {
			font-size: 13px;
			font-weight: 500;
		}
		.fa{
			font-size: 35px;
		}
		.fa-sliders {
			transform: rotate(90deg);
		}
		.fa-truck {
			transform: scaleX(-1);
		}
	}
}

.s_services {
	padding: 50px 0;
	h2 {
		font-size: 24px;
		font-weight: 400;
		margin:0 0 50px 0;
		padding: 0;
	}
	li {
		float: left;
	}
	span {
		width: 260px;
		height: 260px;
		overflow: hidden;
		display: block;
		position: relative;
		margin: 0 auto;
		.services_active {
			display: none;
			position: absolute;
			top: 0px;
			height: 100%;
			width: 100%;
			background: rgba(36,140,236,.9);
			.services_hor,
			.services_ver {
				width: 30px;
				height: 3px;
				position: relative;
				top: 50%;
				left: 50%;
				margin-left: -15px;
				background-color: #fff;
			} 
			.services_ver{
				transform: rotate(90deg);
				margin-top: -2px;
			}
		}
	}
	img {
		transform: translateX(-20%);
	}
}
figure {
	margin: 9px;
	position: relative;
	p {
		margin-top: 30px;
		font-size: 16px;
		text-align: center;
	}
}

.s_info {
	padding: 65px 0;
	h2 {
		font-size: 24px;
		font-weight: 400;
		padding: 0;
		margin-bottom: 50px;
	}

	.info_article {
		margin-bottom: 30px;
	}

	h3 {
		font-size: 16px;
		margin: 0;
		padding: 5px 0;
	}
	figure {
		width: 160px;
		float: left;
	}

	.article_details {
		margin-bottom: 30px;
		span {
			margin-left: 10px;
		}
	}
	.article_img {
		width: 150px;
		height: 150px;
		overflow: hidden;
		display: block;
		position: relative;
	}
	figcaption {
		position: absolute;
		top: 10px;
		left: -15px;
		text-align: center;
		.month,
		.day {
			padding: 5px;
			display: block;
			font-size: 15px;
		}
	}
	.accordion {
		.ui-accordion-header {
			padding: 0px;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			line-height: 40px;
		}
		.ui-accordion-header:before{
    content: '\02795'; 
    font-size: 10px;
    float: left;
    padding:0 15px;
    margin-right: 15px;
    font-weight: 300;
		}
		.ui-accordion-header[aria-expanded="true"]:before {
			content: "\2796"; 
		}
		.ui-accordion-content {
			margin: 35px 0 40px 40px;
		}
	}
}

.s_logos {
	margin: 80px 0;
}

.s_bottom_links{
	padding: 60px 0 75px 0;
	h2 {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
		padding-bottom: 30px;
	}
	li {
		border-bottom: 1px solid #393c40;
		line-height: 36px;
	}
	li:last-child {
		border: none;
	}
	a {
		font-family: Arial, sans-serif;;
		font-size: 13px;
	}
}

footer {
	padding: 25px 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	li {
		float: left;
		padding-left: 30px;
		.fa{
			padding-right: 5px;
			font-size: 15px;
		}
	}
	li:last-child {
		float: right;
	}
}
